.todolist_item {
    border: 1px solid brown;
    text-align: left;
    margin: 15px auto 0 auto;
    padding: 10px;
    width: 80%;
}

.todolist_title {

}

.todolist_date {
    font-style: italic;
}
